body {
  margin-left: 15%;
  margin-right: 15%;
  font-family: Helvetica, Arial, sans-serif;
  background: #f1f1f1;
}

main {
  display: flex;
  margin-bottom: 20px;
}

header img {
  width: 100px;
}

.header {
  font-size: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu > ul > li {
  float: left;
}

.menu li a {
  display: inline;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline;
}

.dropdown:hover .isi-dropdown {
  display: block;
  font-weight: bold;
}

.isi-dropdown a:hover {
  color: #fff !important;
  font-weight: bold;
}

.isi-dropdown {
  position: absolute;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #f9f9f9;
}

.isi-dropdown a {
  padding: 0 16px !important;
  color: #3c3c3c !important;
}

.isi-dropdown a:hover {
  color: #232323 !important;
}

.heading {
  color: coral;
}

.footer {
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.left-content {
  color: black;
  padding: 10px;
}
.copyright {
  margin: 0;
}

.right-content {
  padding: 10px;
}

.sidebar {
  background: orange;
  float: left;
  width: 25%;
  height: 100%;
}

.sidebar ul {
  list-style-type: none;
}

.container1 {
  width: 15%;
  background: #fff;
  list-style-type: none;
  margin-right: 10px;
  padding: 0;
}

.container1 ul {
  padding: 0;
}

.container1 ul li {
  list-style-type: none;
  margin-bottom: 20px;
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px;
}

.container1 ul li a {
  text-decoration: none;
  color: orange;
}

.container1 ul li:hover a {
  font-weight: bold;
}

.container2 {
  width: 60%;
  margin-right: 10px;
  background: #fff;
  padding: 10px;
}

.container3 {
  width: 25%;
  background: #fff;
  padding: 10px;
}

.image-berita1 {
  width: 100%;
  margin-bottom: 6%;
  margin-right: 5px;
}

.container-berita p {
  margin-left: 0px;
}

.container-berita a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}

.container-berita:hover a {
  font-weight: bold;
}

.p-berita1 {
  margin-left: 5px;
}
.berita1 {
  font-family: "Helvetica", Times, serif;
}
.image-berita2 {
  width: 100%;
  margin-bottom: 6%;
  margin-right: 5px;
}

.p-berita2 a {
  font-size: 12px;
  text-decoration: none;
  color: black;
}
.p-berita2 {
  margin-left: 5px;
}

.image-berita3 {
  width: 100%;
  margin-bottom: 10%;
  margin-right: 5px;
}

.p-berita3 a {
  margin-top: 0%;
  font-size: 12px;
  text-decoration: none;
  color: black;
}
.p-berita3 {
  margin-left: 5px;
}

.container3 h4 {
  margin: 0;
  padding: 0;
  background-color: coral;
  color: #fff;
  padding: 10px;
}

.container-berita {
  padding: 10px;
  border-bottom: 1px solid gray;
  background-color: rgba(226, 226, 226, 0.637);
}
